@model List<AppUser>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User table</h4>
                <div class="table-responsive">
                    <table class="table table-bordered" id="userTable">
                        <thead>
                            <tr>
                                <th style="width:400px;text-align:center"> UserName </th>
                                <th style="width:400px;text-align:center"> Status </th>
                                <th style="width:250px;text-align:center"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (AppUser item in Model)
                            {
                                <tr>
                                    <td style="text-align:center;"> @item.UserName </td>
                                    <td style="text-align: center;">
                                        @if (item.Status)
                                        {
                                            <span class="text-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">Passive</span>
                                        }
                                    </td>
                                    <td class="d-flex justify-content-end">
                                        <a class="btn btn-primary btn-rounded" asp-controller="User" asp-action="Details" asp-route-id="@item.Id">Details</a>                                        @if (item.Status)
                                        {
                                            <a asp-controller="User" asp-action="Activity" asp-route-id="@item.Id" class="btn rounded-pill btn btn-success" style="margin-right: 5px;width:120px">DeActivate</a>
                                        }
                                        else
                                        {
                                            <a asp-controller="User" asp-action="Activity" asp-route-id="@item.Id" class="btn rounded-pill btn btn-danger" style="margin-right: 5px;width:120px">Activate</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <nav aria-label="...">
            <ul id="pagination" class="pagination d-flex justify-content-center">
                @for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    <li class="page-item" aria-current="page">
                        <a id="myPage-@i" class="page-link" href="#" data-value="@i">@i</a>
                    </li>
                }
            </ul>
        </nav>
        <br />
        <a style=" margin-top:20px;width:100px;height:40px;padding-top:11px;" class="btn btn-warning btn-rounded" asp-controller="User" asp-action="Create">Create</a>
    </div>
</div>
@section Scripts{
    <script>
        var selectedPage = 1;
        $(document).ready(function () {
            highlightSelectedPage();
            $("[id^='myPage-']").on('click', function () {
                var page = $(this).data("value");
                $.ajax({
                    url: "/User/Pagination/",
                    type: "get",
                    data: {
                        "page": page
                    },
                    success: function (response) {
                        $("#userTable").html(response);
                        selectedPage = page;
                        highlightSelectedPage();
                    }
                });
            });
        });
        function highlightSelectedPage() {
            $("#pagination li").removeClass("active");
            $("#myPage-" + selectedPage).parent().addClass("active");
        }
    </script>
}