@model Blog
<div class="main-panel">
    <div class="content-wrapper">
        <h1>Update Blog</h1>
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <br />
                    <form class="forms-sample" asp-action="Update" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="@Model.Title" for="exampleInputName1">Title</label>
                            <input asp-for="@Model.Title" type="text" class="form-control" placeholder="Name" style="color:white">
                            <span asp-validation-for="@Model.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Photo"></label>
                            <input accept="image/*" asp-for="@Model.Photo" class="form-control" style="color:white">
                            <span class="text-danger" asp-validation-for="@Model.Photo"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Select category</label>
                            <select class="form-control" asp-for=@Model.CategoryId>
                                @foreach (Category cat in ViewBag.Categories)
                                {
                                    if (Model != null)
                                    {
                                        if (cat.Blogs.Any(x => x.Id == Model.Id))
                                        {
                                            <option value="@cat.Id" selected>@cat.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@cat.Id">@cat.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Select writer</label>
                            <select class="form-control" asp-for=@Model.WriterId>
                                @foreach (Writer writer in ViewBag.Writers)
                                {
                                    if (Model != null)
                                    {
                                        if (writer.Blogs.Any(x => x.Id == Model.Id))
                                        {
                                            <option value="@writer.Id" selected>@writer.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@writer.Id">@writer.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Content" for="exampleTextarea1">Content</label>
                            <textarea asp-for="@Model.Content" maxlength="100" class="form-control" rows="4" style="color:white"></textarea>
                            <span class="text-danger" asp-validation-for="@Model.Content"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button class="btn btn-dark" asp-action="Index">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    @*<script>
            var selectElement = document.querySelector('#WriterId');
            var options = selectElement.options;

            for (var i = 0; i < options.length; i++) {
            var option = options[i];
           if (option.value == @Model.WriterId) {
           option.selected = true;
           } else {
           option.selected = false;
          }
         }

        </script>
        <script>
            var selectElement = document.querySelector('#CategoryId');
            var options = selectElement.options;

            for (var i = 0; i < options.length; i++) {
                var option = options[i];
                if (option.value == @Model.CategoryId) {
           option.selected = true;
           } else {
           option.selected = false;
          }
         }
        </script>*@
}