@model List<Comment>
<table class="table table-bordered" id="commentTable">
    <thead>
        <tr>
            <th style="width:400px;text-align:center"> Comment Title </th>
            <th style="width:250px;text-align:center"> Created Date </th>
            <th style="width:400px;text-align:center"> Status </th>
            <th style="width:250px;text-align:center"> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Comment item in Model)
        {
            <tr>
                <td style="text-align:center;"> @item.Title </td>
                <td>@item.CreatedDate.ToString("yyyy/MM/dd")</td>
                <td style="text-align: center;">
                    @if (item.Status)
                    {
                        <span class="text-success">Active</span>
                    }
                    else
                    {
                        <span class="text-danger">Passive</span>
                    }
                </td>
                <td class="d-flex justify-content-end">
                    <a class="btn btn-primary btn-rounded" asp-controller="Comment" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-secondary btn-rounded" style="margin-left:10px;margin-right:10px;" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    @if (item.Status)
                    {
                        <a asp-action="Activity" asp-route-id="@item.Id" class="btn rounded-pill btn btn-success" style="margin-right: 5px;width:120px">DeActivate</a>
                    }
                    else
                    {
                        <a asp-action="Activity" asp-route-id="@item.Id" class="btn rounded-pill btn btn-danger" style="margin-right: 5px;width:120px">Activate</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>