@model Cash
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card " style="padding: 10px 30px;color: #000000 !important">
                            <h2 style="text-align: center; color: white ">CASH</h2>
                            <div style="display:flex;justify-content:space-between;font-size:19px;font-weight:300">
                                <div class="">
                                    <div style="color: white">
                                        <span style="font-weight:600">Time that balance changed : </span>  @Model.LastModifiedTime.ToString("dd-MM-yyyy  HH:mm")
                                    </div>
                                    <div style="color: white">
                                        <span style="font-weight:600;">Reason for changing: </span> @Model.LastModified
                                    </div>
                                    <div style="color: white">
                                        <span style="font-weight:600;">Amount: </span> @Model.LastMotifiedMoney $
                                            
                                    </div>
                                    <div style="color: white    ">
                                        <span style="font-weight:600;">Person: </span> @Model.LastModifiedBy
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <div style=" background-color: #37474F !important">
                                        <ul style="list-style-type:none; display:flex; justify-content:space-evenly; height:120px;">

                                            <li>
                                                <div class="content">
                                                    <div class="text" style="color:#ffffff; margin-bottom:10px; text-align:center; font-size:20px; margin-top:30px;"> Total balance </div>
                                                    <div class="number count-to" data-from="0" data-to="@Model.Balance" style="color:white;display:flex;justify-content:center;align-items:center; font-size:20px; margin-bottom:-10px;" data-speed="150" data-fresh-interval="10">@Model.Balance Azn</div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="mdi mdi-square-inc-cash" style="width:40px; font-size:30px; color:#ffffff;  margin-top:40px; margin-bottom:-20px; margin-left:40px; padding-bottom:70px;"></i>
                                                </div>
                                            </li>
                                        </ul>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>